<footer class="landing-footer footer-text mt-5 pt-5">
    <div class="footer-top position-relative overflow-hidden z-1">
        <img src="/assets/img/front-pages/backgrounds/footer-bg.png" alt="footer bg"
            class="footer-bg banner-bg-img z-n1">
        <div class="container">
            <div class="row gx-0 gy-6 g-lg-10">
                <div class="col-lg-5">
                    <a href="landing-page.html" class="app-brand-link mb-6">
                        <span class="app-brand-logo demo">
                            <span class="text-primary">

                                <img src="/assets/img/logo/logo.png" alt="" width="40">
                            </span>
                        </span>
                        <span class="app-brand-text demo text-white fw-bold ms-2 ps-1">
                            <img src="/assets/img/logo/logo-text.png" alt="" width="120">
                        </span>
                    </a>
                    <p class="footer-text footer-logo-description mb-6"> Your Cutest Discord Companion. <br>
                        AI, Auto Moderation, Music, Economy, Welcome Messages. Kythia is
                        ready to make your server more lively and secure.
                    </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <h6 class="footer-title mb-6">Pages</h6>
                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/commands') ? 'text-primary' : '' %>"
                                href="/commands">Commands</a>
                        </li>
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/partner') ? 'text-primary' : '' %>"
                                href="/partner">Partner</a>
                        </li>
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/changelog') ? 'text-primary' : '' %>"
                                href="/changelog">Changelog</a>
                        </li>
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/status') ? 'text-primary' : '' %>"
                                href="<%= kythia.settings.statusPage %>" target="_blank">Status</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h6 class="footer-title mb-6">Links</h6>
                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/owner') ? 'text-primary' : '' %>" href="/owner">Owner</a>
                        </li>
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/privacy') ? 'text-primary' : '' %>" href="/privacy">Privacy Policy</a>
                        </li>
                        <li class="mb-4">
                            <a class="footer-link <%= (currentPage == '/tos') ? 'text-primary' : '' %>" href="/tos">Terms of Service</a>
                        </li>
                        <li>
                            <a class="footer-link" href="https://dsc.gg/kythia" target="_blank">Support Server</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>