<nav class="layout-navbar shadow-none py-0" style="z-index: 1080;">
    <div class="container">
        <div class="navbar navbar-expand-lg px-3 px-md-8 py-3 glass-effect mt-4">
            <div class="navbar-brand app-brand demo d-flex py-0 me-4 me-xl-8">
                <button class="navbar-toggler border-0 px-0 me-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-grid-2 align-middle text-heading fw-medium"></i>
                </button>
                <a href="/" class="app-brand-link">
                    <span class="app-brand-logo demo">
                        <span class="text-primary">

                            <img src="/assets/img/logo/logo.png" alt="" width="40">
                        </span>
                    </span>
                    <span class="app-brand-text demo text-white fw-bold ms-2 ps-1">
                        <img src="/assets/img/logo/logo-text.png" alt="" width="120">
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse landing-nav-menu mt-4 mt-lg-0" id="navbarSupportedContent">
                <button class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl p-2"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon-base bx bx-x icon-lg"></i>
                </button>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link <%= (currentPage == '/commands') ? 'text-primary' : 'opacity-50' %>"
                            href="/commands">Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentPage == '/partner') ? 'text-primary' : 'opacity-50' %>"
                            href="/partner">Partner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentPage == '/changelog') ? 'text-primary' : 'opacity-50' %>"
                            href="/changelog">Changelog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentPage == '/status') ? 'text-primary' : 'opacity-50' %>"
                            href="<%= kythia.settings.statusPage %>" target="_blank">Status</a>
                    </li>
                    <li class="ms-0 ms-lg-5">
                        <% if (user) { %>
                            <div class="dropdown ms-auto">
                                <a href="#"
                                    class="d-flex align-items-center text-decoration-none dropdown-toggle custom-dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                                    <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64"
                                        alt="" width="32" height="32" class="rounded-circle me-2">
                                    <strong>
                                        <%= user.username %>
                                    </strong>
                                </a>
                                <ul class="dropdown-menu glass-effect mt-5 text-small ">
                                    <li>
                                        <a class="dropdown-item custom-dropdown-item"
                                            href="/dashboard/servers">Dashboard</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider custom-dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item custom-dropdown-item" href="/auth/logout">Sign out</a>
                                    </li>
                                </ul>
                            </div>
                            <% } else { %>
                                <a href="/auth/discord" class="btn btn-primary ms-auto">
                                    <i class="fa-brands fa-discord me-2"></i>Login
                                </a>
                                <% } %>
                    </li>
                </ul>
            </div>
         
        </div>
    </div>
</nav>